@import "../variables.scss";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      padding-right: 20px;
    }

    .header_right {
      display: flex;
      flex-direction: row;

      .search__header__logo {
        position: relative;

        .search__header {
          min-width: 140px;
          padding: 10px 40px;
          height: 48px;
          outline: none;
          border: 1px solid #c1c1c1;
          border-radius: 20px;
          color: #7b7b7b;
          font-size: 16px;
          margin: 0 10px;

          // .search__loop__input {
          //   width: 22px;
          //   height: 22px;
          // }

    

          &:hover {
            border: 1px solid #c2c2c2;
          }
          &::placeholder {
            color: #7b7b7b;
          }
        }

        

        @media (max-width: 800px) {
          flex-direction: column-reverse;
          align-items: center;

          .search__header {
            margin: 5px;
            width: 200px;
          }

          .search__header__close {
            top: 20px;
            right: 20px;
          }
        }
      }

      @media (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
      }

      .search__header__close {
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
        width: 20px;
        height: 20px;

        &:hover {
          fill: #7b7b7b;
        }
      }
    }
  }

  &__logo {
    display: flex;
    cursor: pointer;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 560px) {
        font-size: 20px;
      }

      @media (max-width: 420px) {
        font-size: 16px;
      }
    }

    p {
      color: #7b7b7b;

      @media (max-width: 560px) {
        font-size: 14px;
      }

      @media (max-width: 420px) {
        font-size: 12px;
      }
    }
  }
}

.search__close__input {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 13px;
  right: 25px;
  cursor: pointer;

  @media (max-width: 800px) {
    top: 18px;
    right: 16px;
  }
}

.search__loop__input {
  position: absolute;
  top: 13px;
  left: 20px;
  cursor: pointer;

  @media (max-width: 800px) {
    top: 18px;
    left: 16px;
  }
}